<ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-button  [routerLink]="['/list']" >Arrendar Estacionamiento</ion-button>
        <ion-button  [routerLink]="['/en-curso']" >En curso</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
      </ion-toolbar>
    </ion-header>
    
<ion-content [fullscreen]="true">
    <div class="profile">
        <ion-img src="assets/img/foto.jpg"></ion-img>
        <div class="profile-info">
            <h2>Rodrigo Ramirez</h2>
            <p>Valoración del Cliente: 4.8 estrellas</p>
        </div>
    </div>
    <div class="bar"></div>
    <div class="title">
        <h1>Estacionamientos</h1>
        <h1>Disponibles</h1>
    </div>
    <div class="parking">
        <ion-img src="assets/img/esta.jpeg"></ion-img>
        <div class="parking-info">
            <h2>Estacionamiento 47</h2>
            <p>-2: X</p>
            <p>Dirección: Av.Rancagua 45. Santiago Centro</p>
        </div>
    </div>
</ion-content>