<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-card class="info-card">
      <ion-card-content>
        <ion-card-subtitle>A 500 metros de ti</ion-card-subtitle>
        <ion-card-title>Subterraneo</ion-card-title>

      </ion-card-content>
    </ion-card>
    <div class="circle-container">
      <div class="circle-image">
        <ion-img src="assets/img/esta.jpeg"></ion-img>
      </div>
    </div>
    <ion-card class="info-card-2">
      <ion-card-content>
        <ion-card-title>Información</ion-card-title>
        Este estacionamiento es propiedad de Juan, un tipo amigable que ofrece un lugar para que estaciones tu auto.

        <ion-card-subtitle>Ubicación</ion-card-subtitle>
        Dónde: En el centro de la ciudad, cerca de todo.
        Dirección: Avenida Central, Número 123.
        Cerca de: Restaurantes, tiendas y paradas de autobús.

        <ion-card-subtitle>Valoración</ion-card-subtitle>
        Puntuación: 4.8/5 (según otros usuarios).
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
