.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  .info-card {
    margin-top: 2px;
    width: 100%; /* La tarjeta ocupa todo el ancho */
    margin-bottom: 10px; /* Espacio entre la tarjeta y la imagen circular */
  }

  .info-card-2 {
    margin-top: 10px;
    width: 100%; /* La tarjeta ocupa todo el ancho */
    margin-bottom: 10px; /* Espacio entre la tarjeta y la imagen circular */
  }
  
  .circle-container {
    display: flex;
    justify-content: center;
  }
  
  .circle-image {
    width: 300px; /* Ajusta el tamaño de la imagen circular según tus necesidades */
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  