<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="menu-list">
      <ion-item-group>
        <ion-item [routerLink]="['listar-esta']" routerDirection="forward" class="menu-item" detail="false">
          <ion-icon name="home"></ion-icon> Inicio
        </ion-item>
        <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
          <ion-icon name="pint"></ion-icon> Mis Arriendos
        </ion-item>
        <ion-item [routerLink]="['/perfil']" routerDirection="forward" class="menu-item" detail="false">
          <ion-icon name="person"></ion-icon> Perfil
        </ion-item>
        <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
          <ion-icon name="settings"></ion-icon> Configuración
        </ion-item>
        <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
          <ion-icon name="log-in"></ion-icon> Salir
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content" scrollY="true">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start" class="menu-button">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="centered-container">
      <ion-label class="custom-message" color="primary">
        <ion-icon name="information-circle-outline"></ion-icon> Ingrese sus datos modificados
      </ion-label>
      <div class="input-container">
        <ion-item class="custom-input">
          <ion-label class="custom-label" position="floating">Correo Electronico</ion-label>
          <ion-input class="custom-input-field" placeholder="" [(ngModel)]="usuario.correo" required></ion-input>
        </ion-item>
        
        <br>
  
        <ion-item class="custom-input">
          <ion-label class="custom-label" position="floating">Nombre</ion-label>
          <ion-input class="custom-input-field" placeholder="" [(ngModel)]="usuario.nombre" required></ion-input>
        </ion-item>
        
        <br>
  
        <ion-item class="custom-input">
          <ion-label class="custom-label" position="floating">Apellido</ion-label>
          <ion-input class="custom-input-field" placeholder="" [(ngModel)]="usuario.apellido"  required></ion-input>
        </ion-item>
        
        <br>
  
        <ion-item class="custom-input">
          <ion-label class="custom-label" position="floating">Contraseña</ion-label>
          <ion-input class="custom-input-field" placeholder="" [(ngModel)]="usuario.contrasena" required></ion-input>
        </ion-item>
        
        <br>
  
        <ion-button (click)="actualizarUsuario()" expand="full">Actualizar</ion-button>
    </div>
