<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
        <ion-icon name="home"></ion-icon> Inicio
      </ion-item>
      <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
        <ion-icon name="person"></ion-icon> Perfil
      </ion-item>
      <ion-item [routerLink]="['/login']" routerDirection="forward" class="menu-item" detail="false">
        <ion-icon name="settings"></ion-icon> Configuración
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="menu-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-icon name="person" class="profile-icon"></ion-icon>
        Perfil
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="centered-container">
      <!-- Contenido de la página principal -->
    </div>
  </ion-content>
</div>
