/* CSS GENERAL */

ion-toolbar.custom-toolbar {
    --background: rgb(234, 242, 249);
    color: rgb(27, 50, 95);
  }
  
  ion-menu-button{
    color: rgb(27, 50, 95);
  }

  .menu-item {
    width: 100%;
    ion-icon {
      margin-right: 8px;
      color: rgb(27, 50, 95);
    }
    font-size: 18px;
    color: rgb(27, 50, 95);
    padding: 10px;
    --inner-padding-end: 0;
    --border-width: 0;
    --highlight-background: transparent;
    cursor: pointer;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
}

.bar {
    width: 100%;
    ion-icon {
      margin-right: 8px;
      color: rgb(27, 50, 95);
    }
    font-size: 18px;
    color: rgb(27, 50, 95);
    padding: 10px;
    --inner-padding-end: 0;
    --border-width: 0;
    --highlight-background: transparent;
    cursor: pointer;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.parking ion-img {
    width: 300px; /* Ajusta el ancho de la imagen */
    height: 300px; /* Ajusta el alto de la imagen */
    border-radius: 50%;
    margin-right: 20px;
}

.user-card {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  max-width: 400px; /* Establece un ancho máximo si es necesario */
  margin-top: 16px; /* Espacio entre la imagen y la tarjeta */
  background-color: rgb(234, 242, 249); /* Color de fondo de la tarjeta */
  ion-card-content {
    padding: 16px;
  }
}
