<!-- tu-componente.component.html -->

<ion-content [fullscreen]="true">
  <div class="centered-container">
    <div class="image-container">
      <img alt="logo" src="assets/img/logo.png" />
    </div>
    <div class="input-container">
      <ion-item class="custom-input">
        <ion-label class="custom-label" position="floating">Correo Electronico</ion-label>
        <ion-input class="custom-input-field" placeholder="" [(ngModel)]="newCliente.correo" required></ion-input>
      </ion-item>
      <div *ngIf="correoError" class="error-message">{{ correoError }}</div>
      <br>

      <ion-item class="custom-input">
        <ion-label class="custom-label" position="floating">Nombre de usuario</ion-label>
        <ion-input class="custom-input-field" placeholder="" [(ngModel)]="newCliente.nombre" required></ion-input>
      </ion-item>
      <div *ngIf="nombreError" class="error-message">{{ nombreError }}</div>
      <br>

      <ion-item class="custom-input">
        <ion-label class="custom-label" position="floating">Contraseña</ion-label>
        <ion-input class="custom-input-field" placeholder="" [(ngModel)]="newCliente.contrasena" required></ion-input>
      </ion-item>
      <div *ngIf="contrasenaError" class="error-message">{{ contrasenaError }}</div>
      <br>

      <ion-button (click)="crearCliente()" expand="full">Crear Cuenta</ion-button>
      <div class="forgot-password">
        ¿Ya tienes una cuenta? <a [routerLink]="['/login']" class="forgot-link"><strong>Ingresa aquí</strong></a>
      </div>
    </div>
  </div>
</ion-content>
