<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="center" width="60%" src="../../assets/img/logoME.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>
<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/estacionamiento1.jpg" />
    <ion-card-header>
      <ion-card-title>Providencia 456</ion-card-title>
      <ion-card-subtitle>
        <ion-item lines="none">
          <ion-card-subtitle> Jose Gonzalez </ion-card-subtitle>
          <ion-thumbnail class="circular-thumbnail" slot="end">
            <img alt="Silhouette of mountains" src="../../assets/img/perfil1.jpg" />
          </ion-thumbnail>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este estacionamiento en arriendo ofrece una solución de 
      estacionamiento conveniente y segura en el corazón del 
      centro de la ciudad.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/estacionamiento2.avif" />
    <ion-card-header>
      <ion-card-title>Providencia 456</ion-card-title>
      <ion-card-subtitle>
        <ion-item lines="none">
          <ion-card-subtitle> Jose Gonzalez </ion-card-subtitle>
          <ion-thumbnail class="circular-thumbnail" slot="end">
            <img alt="Silhouette of mountains" src="../../assets/img/perfil2.jpg" />
          </ion-thumbnail>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este estacionamiento en arriendo ofrece una solución de 
      estacionamiento conveniente y segura en el corazón del 
      centro de la ciudad.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/estacionamiento3.jpg" />
    <ion-card-header>
      <ion-card-title>Providencia 456</ion-card-title>
      <ion-card-subtitle>
        <ion-item lines="none">
          <ion-card-subtitle> Jose Gonzalez </ion-card-subtitle>
          <ion-thumbnail class="circular-thumbnail" slot="end">
            <img alt="Silhouette of mountains" src="../../assets/img/perfil3.webp" />
          </ion-thumbnail>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este estacionamiento en arriendo ofrece una solución de 
      estacionamiento conveniente y segura en el corazón del 
      centro de la ciudad.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/estacionamiento4.jpg" />
    <ion-card-header>
      <ion-card-title>Providencia 456</ion-card-title>
      <ion-card-subtitle>
        <ion-item lines="none">
          <ion-card-subtitle> Jose Gonzalez </ion-card-subtitle>
          <ion-thumbnail class="circular-thumbnail" slot="end">
            <img alt="Silhouette of mountains" src="../../assets/img/perfil4.avif" />
          </ion-thumbnail>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este estacionamiento en arriendo ofrece una solución de 
      estacionamiento conveniente y segura en el corazón del 
      centro de la ciudad.
    </ion-card-content>
  </ion-card>

</ion-content>